.header {
  padding: 5px 5px 10px 5px;
}

.delete {
  background-color: #ea0e2f;
}

.mat-button-disabled {
  opacity: 0.4;
}

.spinner-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-container-creating {
  display: flex;
  flex-direction: row;
  height: 40px;
  .mat-progress-spinner {
    margin-top: 10px;
    margin-left: 10px;
  }
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.mat-stroked-button {
  background: none;
  color: #30ba78;
}

.mat-form-field {
  height: 20px;
}

.cancel-btn {
  margin-right: 10px;
}

.form-btn {
  margin-top: 20px;
  margin-left: auto;
  margin-right: 20px;
}

.mat-stroked-button {
  background-color: transparent;
  color: #0cbd0f;
}

.repository-info {
  margin-left: 16px;
  margin-top: 40px;
}

.mat-ripple-element {
  background-color: #30ba78 !important;
}

.empty-container {
  padding: 20px;
}

.empty-card-message {
  margin-top: 5px;
  text-align: center;
}

.view-row {
  padding: 30px;
}

.mat-elevation-z8 {
  background: #fff;
}

.view-title {
  color: #30ba78;
  font-size: 30px;
}

.view-label {
  font-size: 20px;
  color: rgba(0,0,0,.54);
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  font-size: x-large;
}

.go-to-column {
  width: 0;
  padding: 15px 50px 0 0;
}

.downloadFile {
  transform: scale(0.7);
}
