<mat-tab-group [selectedIndex]="selectedTab.value">
  <mat-tab label="{{'VIEWS' | translate}}">
    <mat-card>
      <table *ngIf="dataSource?.data?.length; else emptyTable"
        mat-table
        [dataSource]="dataSource"
        [dataSource]="dataSource"
        class="mat-elevation-z8 courses">

        <!-- Id Column -->
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef> {{ 'COLUMN_ID' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
        </ng-container>

        <!-- Path Column -->
        <ng-container matColumnDef="Path">
          <th mat-header-cell *matHeaderCellDef> {{ 'COLUMN_PATH' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.Repo}} </td>
        </ng-container>

        <!-- VScodeSettings Column -->
        <ng-container matColumnDef="VScodeSettings">
          <th mat-header-cell *matHeaderCellDef> {{ 'COLUMN_VSCODE_SETTINGS' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.VScodeSettings}} </td>
        </ng-container>

        <!-- Auth Column -->
        <ng-container matColumnDef="GitAuth">
          <th mat-header-cell *matHeaderCellDef> {{ 'COLUMN_GIT_AUTH' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.GitAuth ? 'Enabled' : 'None'}} </td>
        </ng-container>

        <!-- GoTo Column -->
        <ng-container matColumnDef="GoTo">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              class="goto"
              [disabled]="element.Session?.length === 0"
              mat-mini-fab color="primary"
              matTooltip="{{(element.Session?.length > 0 ? 'VIEW_URL' : 'GOTO_DISABLED') | translate}}"
              (click)="goToView(element)">
              <mat-icon>launch</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>

    <ng-template #emptyTable>
      <span class="empty-table-message">
        {{'VIEWS_EMPTY' | translate}}
      </span>
    </ng-template>
  </mat-tab>
</mat-tab-group>
