H4 {
  padding: 20px;
  padding-bottom: 0;
  color: rgba(0,0,0,.54);
}

.mat-stroked-button {
  background: none;
  color: #30ba78;
}

.mat-form-field {
  height: 20px;
}

.cancel-btn {
  margin-right: 10px;
}

.form-btn {
  margin-top: 20px;
  margin-left: auto;
  margin-right: 20px;
}

.mat-stroked-button {
  background-color: transparent;
  color: #0cbd0f;
}

.repository-info {
  margin-left: 16px;
  margin-top: 40px;
}

.mat-ripple-element {
  background-color: #30ba78 !important;
}

.ssh-file-upload {
  padding: 15px 0 0 15px;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #30ba78 !important;
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: #30ba78 !important;
}
