H4 {
  padding: 20px;
  padding-bottom: 0;
  color: rgba(0,0,0,.54);
}

.view-form {
  margin-top: 30px;
}

.mat-stroked-button {
  background: none;
  color: #30ba78;
}

.mat-form-field {
  height: 20px;
}

.cancel-btn {
  margin-right: 10px;
}

.form-btn {
  margin-left: auto;
  margin-right: 20px;
}

.mat-stroked-button {
  background-color: transparent;
  color: #0cbd0f;
}
