.view-form {
  margin-top: 30px;
}

.mat-stroked-button {
  background: none;
  color: #30ba78;
}

.mat-form-field {
  height: 20px;
}

.cancel-btn {
  margin-right: 10px;
}

.form-btn {
  margin-left: auto;
  margin-right: 20px;
}
