.label {
  font-size: 17px;
}

.lang-button-container {
  display: flex;
  align-items: center;
  justify-content: right;
}

.mini-fab-btn.mat-menu-item {
  text-align: center;
}

.username {
  margin-right: 15px;
}

.mat-menu-item {
  text-align: left !important;
}

.lang-mini-fab {
  margin-right: 5px;
  margin-left: 10px;
}
