<div class="container" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="end none">
    <button class="btn-close" mat-stroked-button mat-dialog-close>X</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center none">
    <h1 mat-dialog-title>{{'CREATE_VIEW' | translate}}</h1>
  </div>
  <form #viewForm="ngForm" (ngSubmit)="save()">
    <div fxLayout="row" fxLayoutAlign="center none" class="view-form">
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <p fxLayout="row" fxLayoutAlign="space-around center">
          <mat-form-field>
            <mat-label>{{'FIELD_VIEW_GIT_NAME' | translate}}</mat-label>
            <input matInput placeholder="{{'FIELD_VIEW_GIT_PLACEHOLDER' | translate}}" [(ngModel)]="data.view.git.name" name="name">
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{'FIELD_VIEW_GIT_EMAIL' | translate}}</mat-label>
            <input matInput placeholder="{{'FIELD_VIEW_GIT_PLACEHOLDER' | translate}}" [(ngModel)]="data.view.git.email" name="email">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-label>{{'FIELD_VIEW_EXTENSIONS' | translate}}</mat-label>
            <mat-select [(ngModel)]="data.view.extensions" name="extension" multiple>
              <mat-option *ngFor="let ext of extensions" [value]="ext">{{ext.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-label>{{'FIELD_VIEW_VSCODE_SETTINGS' | translate}}</mat-label>
            <input matInput placeholder="{{'FIELD_VIEW_VSCODE_PLACEHOLDER' | translate}}" [(ngModel)]="data.view.vscodeSettings" name="vscodeSettings">
          </mat-form-field>
        </p>
        <p>
          <button mat-raised-button color="primary" [mat-dialog-close]="data.view">
            <ng-container>{{'SAVE' | translate}}</ng-container>
          </button>
        </p>
      </div>
    </div>
  </form>
</div>
