.mat-dialog-title {
  margin-top: 10px;
  margin-bottom: 30px;
}

.mat-stroked-button {
  background-color: transparent;
  color: black;
}

.confirm {
  background-color: #0cbd0f;
}

.delete {
  background-color: #ea0e2f;
}